.navbar{
    background-color: #131921;
}

.register{
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.register:hover{
    color: #ffa703;
}

.car{
    margin-top: 20px;
}

.car:hover{
    color: #ffa703;
}

